body, html {
  background-color: #FC9D9A;
}


.container-fluid {
}

.col-centered{

  margin: 0 auto;
  float: none;
}

input[type="text"] {
  font-size: 1.6em;
}

.text-center {
  text-align: center;
}

#text-tag {
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  display: inline-block;
  text-align: left;
  color: #333;
  font-size: 1.2em;
}
