body, html {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container-fluid {
}

.col-centered{

  margin: 0 auto;
  float: none;
}

input[type="text"] {
  font-size: 1.4em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#text-tag {
  margin-top: 2em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  display: inline-block;
  text-align: left;
  color: #333;
  font-size: 1.2em;
}

#copy-btn {
  border-color: white;
  color: white;
  margin-top: 2em;
}

#copy-btn:hover, #copy-btn:focus, #copy-btn:active {
  background-color: white;
  color: #0072ff;
}

#noti {
  margin-top: .3em;
  color: #eee;
}

.footer {
  font-size: .8em;
  color: rgb(52, 56, 129);
}

.footer a {
  color: rgba(255, 255, 255, 0.92)
}
