body, html {
  background-color: #556270;
}

.col-centered{

  margin: 0 auto;
  float: none;
}

input[type="text"] {
  font-size: 1.6em;
}

.text-center {
  text-align: center;
}

#text-tag {
  display: inline-block;
  text-align: left;
  color: white;
  font-size: 1.2em;
}
